.body, html{
    height:100%;
    margin:0px;
}

/* hero image code from sara_edo via  https://hero-generator.netlify.app/*/
/* note: I tried the CSS from the guide SO MANY TIMES and it never worked*/
/* note: I tried the CSS from the guide SO MANY TIMES and it never worked*/
.masthead {
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 100vh; 
    overflow: hidden;
    background-size: cover !important;
    background: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 28%, rgba(0,0,0,0.65) 100%), url(), no-repeat center center scroll;
    background-image:url(https://www.freepnglogos.com/uploads/mountain-png/mountain-png-transparent-mountain-images-pluspng-29.png);
  }
  
  .masthead h1 {
    font-style: normal;
    font-weight: bold;
    color: #eee;
    font-size: 11vmin;
    letter-spacing: 0.03em;
    line-height: 1;
    text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.8);
    margin-bottom: 40px;
  }
      
  .masthead h5 {
    font-style: normal;
    font-weight: bold;
    color: #fcfafa;
    font-size: 3vmin;
    letter-spacing: 0.03em;
    line-height: 1;
    text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.8);
    margin-bottom: 40px;
  }
      
        
  button {
    background: #000000;
    transition: background ease .25s;
    border-radius: 17px;
    display: inline-block;
    border: none;
    padding: 0.75rem 1.5rem;
    margin: 0;
    text-decoration: none;
    color: #ffffff;
    font-size: 1.2rem;
    cursor: pointer;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  button:hover {
    background: #192715
  }
  button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
  }
/* end hero image CSS*/
    

/* style navigation */
nav li {
    font-family: "lucida-console", sans-serif;
    display: inline;
    margin:20px;
    border: 1px solid rgba(0, 0, 0, 0.253);
    border-radius: 7px;
    padding:3px;
    margin:10%;
}

nav ul {
    margin:0px;
}

nav {
    display:block;
    background-color:#cad7d9;
    list-style-type:none;
    width:100%;
    padding:20px;
    border: 1px solid rgba(0, 0, 0, 0.253)
}

nav a {
    color: #555554;
    text-decoration:none;
}

nav li:hover{
    color:#809dbc;
    background-color: black;
}


/* style main section */
#main{ 
    width:75%;
    float:right;
    height:100%;
    padding-right:20px;
}

#profilepic{
    float: right;
    height:120px;
    width:120px;
    border-radius: 50%;
    border: 5px solid rgba(0, 0, 0, 0.041);
}

.main-articles h1{
    text-decoration:underline;
    background-color: #809dbc;
    text-align: center;
    padding:5px;
    font-family: garamond; 
}

.main-articles h3{
    display:block;
    border-radius: 10px;
    text-decoration:none;
    background-color: #809dbc5b;
    text-align: center;
    padding:2px;
    font-family: garamond; 
    color:rgb(78, 78, 78)
}

/* style sidebar*/
.sidebar{
    width:20%;
    height:100%;
    padding:20px;
    display: inline;

}

.sidebar h1 {
    display:inline;
    text-decoration:underline;
    background-color: rgba(122, 143, 106, 0.25);
    border-radius: 5px;
    text-align: center;
    padding:1px;
    font-family: garamond; 
}

.sidebar ul{
    list-style-type: none;
    padding-left: 0px;
}

